<div ng-include='"mainPage/views/header.html"'></div>
<div ng-controller="defaultValueBasket" id="main">
  <div class="configurationSettings box col-md-4">
    <div class="headerSettings">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" ng-click="radioModel='left'">Left</label>
        <label class="btn btn-primary" ng-model="radioModel" ng-click="radioModel='Middle'">Middle</label>
        <label class="btn btn-primary" ng-model="radioModel" ng-click="radioModel='Right'">Right</label>
      </div>
    </div>
    <div class="bodySettings">
      {{radioModel}}
    </div>
  </div>
  <div class="space box col-md-1"></div>
  <div class="previewBox box col-md-7">
    <div class="template">
    </div>
  </div>
</div>