    <div ng-include='"mainPage/views/header.html"'></div>
    <div  ng-cloak class="container-fluid" ng-controller="defaultValueContact">
      <!--Main values-->
      <span ng-show="false" id="mainBannerSelected">{{defaulvalues.contactLogo}}</span>
      <span ng-show="false" id="textSelected"></span>
      <span ng-show="false" id="ctaImageSelected" style="background-color: "></span>
      <span ng-show="false" id="closeButtonSelected"></span>
      <!--ENd of main values-->
      

        <div id="configurationSettings" class="box col-md-4 col-sm-4">
          <div class="step">
            <div class="head">
                  <div class="header">
                    <span>Settings</span>
                  </div>
                </div> 

            <div id="accordionContact" class="accordion-test">

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <!--Upload Image-->
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Upload Logo
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                          <form name="myForm" class="myForm">
                          <input id="imgButton" type="file" name="myImage" image-with-preview ng-model="contactLogo" accept="image/jpeg,image/png" dimensions="width < 330 && height <110" ng-click="logoSelected()" >
                          <span class="error" ng-show="myForm.myImage.$error.image">Not a JPEG or a PNG!</span>
                          <div class="error" ng-if="myForm.myImage.$error.dimensions">
                            <p class="wrongSize">
                              Invalid dimensions! Expecting an image smaller than 327x100.
                            </p>
                          </div>
                          <p><small>Note: Image should be smaller than 327Hx100W</small></p>
                        </form>
                        </div>
                      </div>
                  </div>
                   <!-- Theme text -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Theme
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        <div ng-repeat="sectors in sectorsAvailable" class="menuSectors">
                          <a data-target="#SubMenu{{sectors.idtheme_assets}}" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu{{sectors.idtheme_assets}}">{{sectors.sector}} <i class="fa fa-caret-down"></i></a>
                          <div class="collapse list-group-submenu" id="SubMenu{{sectors.idtheme_assets}}">
                            <div ng-repeat="themes in arrayImagesBG">
                                <a href="#" ng-if="themes.sector == sectors.sector" class="list-group-item" data-parent="#SubMenu{{sectors.idtheme_assets}}" ng-click="defaulvalues.contactTheme=pickTheme(themes.idtheme_assets)">{{sectors.sector}} {{themes.idtheme_assets}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Main text -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Main Text
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                           <div text-angular="text-angular" name="htmlcontentContact" ng-model="defaulvalues.defaulTextmain" ta-disabled='disabled' ta-max-text="100" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline'],['justifyLeft','justifyCenter','justifyRight'],['insertLink'],['charcount']]"></div>
                            <!--To see the Text with the tag please type ng-model="resultObject.copyText"-->
                            <!-- <label>Please add the text:</label>
                            <input type="text" ng-model="resultObject.copyText" /> -->
                            <span style="font-size:11px;">*Max number of characteres 100</span>
                      </div>
                    </div>
                  </div>
                   <!-- Main text -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Bottom Text
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                           <div text-angular="text-angular" name="htmlcontentContactbottom" ng-model="defaulvalues.defaulTextbottom" ta-disabled='disabled' ta-max-text="100" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline'],['justifyLeft','justifyCenter','justifyRight'],['insertLink'],['charcount']]"></div>
                            <!--To see the Text with the tag please type ng-model="resultObject.copyText"-->
                            <!-- <label>Please add the text:</label>
                            <input type="text" ng-model="resultObject.copyText" /> -->
                            <span style="font-size:11px;">*Max number of characteres 100</span>
                      </div>
                    </div>
                  </div>
                  <!--CTA-->
                  <!-- <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Choose your CTA
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                      <div class="panel-body">
                        <label>Background Colour</label>
                        <input colorpicker="rgba" type="text" ng-model="defaulvalues.bkColour" style="background-color:{{defaulvalues.bkColour}};" /><br>
                        <label>Text</label>
                        <input type="text" ng-model="defaulvalues.ctaText"/><br>
                        <label>Text Colour</label>
                        <input colorpicker="rgba" type="text" ng-model="defaulvalues.ctaColour" style="background-color:{{resultObject.ctaColour}};" />
                      </div>
                    </div>
                  </div> -->
                   
                  
              </div> <!-- Close Accordeon-->
            <div>
          </div>
              <button id="saveCreactive" class="btn btn-primary" ng-disabled="avtiveButtonSaving" ng-click='savingFinalTemplate()'>Save This Creative</button>
              <!--Success Modal-->
              <div id="successModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body alert alert-success">
                        <p>Your Template has been save successfuly</p>
                      </div>
                    </div>
                </div>
              </div>
              <!--Error Modal-->
              <div id="errorModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body alert alert-danger">
                        <p>Please Check that your theme or Logo have been selected</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>  
          </div> <!-- Close Introduce box elements-->
        </div>
        <div class="col-md-1 col-sm-1">
          
        </div>
        <div id="previewBoxContact" class="box col-md-7 col-sm-7" ng-show="true">
          <div ng-templates></div>

           
      </div>
      
    </div>
