  <div ng-include='"mainPage/views/header.html"'></div>
    <div  ng-cloak class="container-fluid" ng-controller="defaultValue">
    	<!--Main values-->
    	<span ng-show="false" id="mainBannerSelected">{{images.src}}</span>
    	<span ng-show="false" id="textSelected">{{defaulvalues.defaulText}}</span>
    	<span ng-show="false" id="ctaImageSelected">{{ctaImages.src}}</span>
    	<span ng-show="false" id="closeButtonSelected">{{closeImages.src}}</span>
    	<!--ENd of main values-->
      
        <div id="configurationSettings" class="box col-md-6">
            <div class="accordion-test">

              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                 <!-- Galerry main Images -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Choose Background
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body">
                          <div class="arrayImages" ng-repeat="x in arrayImagesBG" style="display:inline-block;">
                            <img ng-show="true" ng-src="{{x.source}}" width="150" height="150" ng-click="defaulvalues.bgImage=pickTheImageSource($index)"/>
                          </div>
                      </div>
                    </div>
                  </div>
                  <!--Upload Image-->
                    <!-- <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Upload Main Image
                          </a>
                        </h4>ga
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                          <input type="file" name="myImage" image-with-preview ng-model="image" accept="image/jpeg,image/png">
                          <span class="error" ng-show="myImage.$error.image">Not a JPEG or a PNG!</span>
                        </div>
                      </div>
                  </div> -->
                  <!-- Main text -->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Main Text
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                           <div text-angular="text-angular" name="htmlcontent" ng-model="defaulvalues.defaulText" ta-disabled='disabled' ta-max-text="100" ta-toolbar="[['h1','h2','h3'],['bold','italics','underline'],['justifyLeft','justifyCenter','justifyRight'],['insertLink'],['charcount']]"></div>
                            <!--To see the Text with the tag please type ng-model="defaulvalues.defaulText"-->
                            <!-- <label>Please add the text:</label>
                            <input type="text" ng-model="defaulvalues.defaulText" /> -->
                            <span style="font-size:11px;">*Max number of characteres 100</span>
                      </div>
                    </div>
                  </div>
                  <!--CTA-->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Choose your CTA
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body">
                        <div class="arrayImages" ng-repeat="y in arrayImagesCTA" style="display:inline-block;">
                            <img ng-show="true" ng-src="{{y.source}}" width="150" height="44" ng-click="defaulvalues.ctaImage=pickTheImageSourceCTA($index);"/>
                          </div>

                        <!-- <label>Background Colour</label>
                        <input colorpicker="rgba" type="text" ng-model="resultObject.backgroundColor" style="background-color:{{resultObject.backgroundColor}};" /><br>
                        <label>Text</label>
                        <input type="text" ng-model="resultObject.ctaText"/>
                        <label>Text Colour</label>
                        <input colorpicker="rgba" type="text" ng-model="resultObject.ctaColour" style="background-color:{{resultObject.ctaColour}};" /> -->
                      </div>
                    </div>
                  </div>
                  <!--Close Button-->
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Choose your Close Button
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                      <div class="panel-body">
                        <div class="arrayImages" ng-repeat="z in arrayImagesClose" style="display:inline-block;">
                            <img ng-show="true" ng-src="{{z.source}}" width="20" height="20" ng-click="defaulvalues.closeImage=pickTheImageSourceClose($index); buttonDisabled()"/>
                          </div>

                        <!-- <label>Background Colour</label>
                        <input colorpicker="rgba" type="text" ng-model="resultObject.backgroundColor" style="background-color:{{resultObject.backgroundColor}};" /><br>
                        <label>Text</label>
                        <input type="text" ng-model="resultObject.ctaText"/>
                        <label>Text Colour</label>
                        <input colorpicker="rgba" type="text" ng-model="resultObject.ctaColour" style="background-color:{{resultObject.ctaColour}};" /> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- Close Accordeon-->
	        <div>
	  			<button id="saveCreactive" class="btn btn-primary" ng-disabled="avtiveButtonSaving" ng-click='savingFinalTemplate()'>Save This Creative</button>
	        </div>  
        </div> <!-- Close Introduce box elements-->
        <div class="col-md-1">
        </div>
        <div id="previewBox" class="box col-md-5" ng-show="true">
          <div class="promptBox" ng-templatevp></div>
      </div>
      
    </div>
