  <div class="wrapper">
    <form class="form-contactus">       
      <h2 class="form-contactus-heading">Contact Us!</h2><br>
      <span class="glyphicon glyphicon-envelope"></span>

      <input type="text" class="form-control contactus" name="name" placeholder="Name" required="" autofocus="" />
      <input type="email" class="form-control contactus" name="email" placeholder="Email" required=""/>
      <textarea type="text" class="form-control contactus" name="message" placeholder="Password" required=""/></textarea>
      <label class="checkbox">
        <input type="checkbox" value="no" id="human" name="human"> I'm Human
       </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>   
    </form>
  </div>