
       <table style='' cellpadding='0' cellspacing='0' border='0' width='100%'>
            
                <tbody><tr>
                    <td>
                    <table class='VeBody' style='border-collapse: collapse;' cellpadding='0' cellspacing='0' align='center' border='0' width='600'>
                        
                            <tbody>
                            <tr>
                                <td>
                                <table class='VeBody' style='border-collapse: collapse; background-color: {{defaulvalues.contactBGcolour}}; border: 1px solid #dcdcdc;' cellpadding='0' cellspacing='0' align='center' border='0' width='600'>
                                    
                                        <tbody><tr>
                                            <td>
                                            <table style='border-collapse: collapse; width: 100%; background-color: {{defaulvalues.contactBGcolour}};' cellpadding='0' cellspacing='0' border='0'>
                                                
                                                    <tbody><tr>
                                                        <td class='VeMerge' style='width: 327px;' align='center'>
                                                        
                                                        <img style='display: block; border-width: 0px;' src='{{defaulvalues.contactLogo}}' height='80' width='300'>
                                                        
                                                        </td>
                                                        <td class='VeHide' height='100'>
                                                        </td>
                                                        <td class='VeMerge' style='width: 161px;' align='center'>
                                                        <table style='border-collapse: collapse; width: 100%;' cellpadding='0' cellspacing='0' border='0'>
                                                            
                                                                <tbody><tr>
                                                                    <td style='font-size: 12px; line-height: 12px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style='padding-right: 20px;' class='VeBasket'>
                                                                    
                                                                    <img class='VeCTA' style='display: block; border-width: 0px;' src='{{defaulvalues.contactTheme}}_04.gif' height='40' width='170'>
                                                                    
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style='font-size: 12px; line-height: 12px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                            
                                                        </tbody></table>
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <table style='border-collapse: collapse; width: 100%;' cellpadding='0' cellspacing='0' border='0'>
                                                
                                                    <tbody><tr>
                                                        <td class='VeHide'>
                                                        
                                                        <img style='display: block; border-width: 0px;' src='{{defaulvalues.contactTheme}}_06.gif' height='280' width='100'></a>
                                                        </td>
                                                        <td align='center'>
                                                        
                                                        <img class='VeImages' style='display: block; border-width: 0px;' src='{{defaulvalues.contactTheme}}_07.gif' height='280' width='400'>
                                                        
                                                        </td>
                                                        <td class='VeHide'>
                                                        
                                                        <img style='display: block; border-width: 0px;' src='{{defaulvalues.contactTheme}}_08.gif' height='280' width='100'></a>
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <table style='width: 100%; border-collapse: collapse; font-family: helvetica,sans-serif; font-size: 13px; color: #555555; line-height: 17px; text-align: left;' cellpadding='0' cellspacing='0' align='center' border='0'>
                                                
                                                    <tbody><tr>
                                                        <td style='width: 5%;'>
                                                        &nbsp;
                                                        </td>
                                                        <td>
                                                        <br>
                                                        <p ng-bind-html='defaulvalues.defaulTextmain'></p>
                                                        
                                                        <br>
                                                        &nbsp;
                                                        </td>
                                                        <td style='width: 5%;'>
                                                        &nbsp;
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            <table style='border-collapse: collapse; width: 100%;'cellpadding='0' cellspacing='0' border='0'>
                                                
                                                    <tbody><tr>
                                                        
                                                        <td style='width: 5%;'>
                                                            &nbsp;
                                                        </td>
                                                        <td class='VeCTA' style='width: 320px; font-family: helvetica,sans-serif; font-size: 13px; color: #cccccc; line-height: 17px; text-align: left;'>
                                                       YOUR BASKET
                                                        </td>
                            
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style='font-size: 10px; line-height: 10px;'>
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                 <table style='border-collapse: collapse; width: 100%;' cellpadding='0' cellspacing='0' border='0'>
                                                     <tr>
                                                        <td style='width: 5%;'>
                                                            &nbsp;
                                                        </td>
                                                         <td style='font-size: 5px; line-height: 5px; border-top: solid 1px #cccccc'>
                                                            &nbsp;
                                                         </td>
                                                         <td style='width: 5%;'>
                                                            &nbsp;
                                                         </td>
                                                     </tr>
                                                </table>
                                            </td>
                                        </tr>   
                                        <!--Start Repeater-->
                                        <tr>
                                            <td>
                                            <table style='border-collapse: collapse; width: 100%;' cellpadding='0' cellspacing='0' border='0'>
                                                
                                                    <tbody><tr>
                                                        <td style='width: 5%;'>
                                                        &nbsp;
                                                        </td>
                                                        <td class='VePFImage' style='width: 100px;' valign='top'>
                                                        
                                                        <img class='VePFImage' alt='' src='' style='display: block; border-width: 0px; border-style: solid;' height='100' width='100'>
                                                        </td>
                                                        <td style='width: 5%;'>
                                                        &nbsp;
                                                        </td>
                                                        <td style='width: 50%;' valign='top'>
                                                        <table style='border-collapse: collapse; width: 100%;' cellpadding='0' cellspacing='0' border='0'>
                                                            
                                                                <tbody><tr>
                                                                    <td style='font-size: 5px; line-height: 5px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                    <td style='font-size: 5px; line-height: 5px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style='font-family: helvetica,sans-serif; font-size: 12px; line-height: 15px; font-weight: bold;text-align:left;'>
                                                                    <a style='text-decoration: none; color: #000001;' >
                                                                    Product Name</a>
                                                                    </td>
                                                                    <td style='font-size: 10px; line-height: 10px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style='font-size: 10px; line-height: 10px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                    <td style='font-size: 10px; line-height: 10px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td style='font-family: helvetica,sans-serif; font-size: 11px; line-height: 15px;text-align:left;'>
                                                                    <strong>QTY:</strong> 1
                                                                    </td>
                                                                    <td style='font-size: 18px; line-height: 18px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style='font-size: 15px; line-height: 15px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                    <td style='font-size: 10px; line-height: 10px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                            
                                                        </tbody></table>
                                                        </td>
                                                        <td style='width: 5%;'>
                                                        &nbsp;
                                                        </td>
                                                        <td valign='top' style='width: 30%;'>
                                                        <table style='border-collapse: collapse; width: 100%;' cellpadding='0' cellspacing='0' border='0'>
                                                            
                                                                <tbody><tr>
                                                                    <td style='font-size: 5px; line-height: 5px;'>
                                                                    &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style='font-family: helvetica,sans-serif; font-size: 12px; line-height: 15px; font-weight: bold; color: #000000;' align='right'>
                                                                    10HKD
                                                                    </td>
                                                                </tr>
                                                            
                                                        </tbody></table>
                                                        </td>
                                                        <td style='width: 5%;'>
                                                        &nbsp;
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='VeSpace1' style='font-size: 20px; line-height: 20px;'>
                                            &nbsp;
                                            </td>
                                        </tr>
                                        <!--End Repeater-->
                                            <tr>
                                                <td>
                                                    <table style='border-collapse: collapse; width: 100%;' cellpadding='0' cellspacing='0' border='0'>
                                                        <tr>
                                                            <td style='width: 5%;'>
                                                                &nbsp;
                                                            </td>
                                                            <td style='font-size: 5px; line-height: 5px; border-top: solid 1px #cccccc;'>
                                                                &nbsp;
                                                            </td>
                                                            <td style='width: 5%;'>
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>   
                                        
                                        <tr>
                                            <td class='VeSpace2' style='font-size: 20px; line-height: 20px;'>
                                            &nbsp;
                                            </td>
                                        </tr>
                                         <tr>
                                            <td>
                                            <table style='width: 100%; border-collapse: collapse; font-family: helvetica,sans-serif; font-size: 13px; color: #555555; line-height: 17px; text-align: left; ' cellpadding='0' cellspacing='0' align='center' border='0'>
                                                
                                                    <tbody><tr>
                                                        <td style='width: 5%;'>
                                                        &nbsp;
                                                        </td>
                                                        <td>
                                                        <p ng-bind-html='defaulvalues.defaulTextbottom'></p>
                                                        &nbsp;
                                                        </td>
                                                        <td style='width: 5%;'>
                                                        &nbsp;
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td class='VeCTA'>
                                            <table style='border-collapse: collapse;' cellpadding='0' cellspacing='0' align='center' border='0'>
                                                
                                                    <tbody><tr>
                                                        <td class='VeHide' style='width: 400px;'>
                                                        &nbsp;
                                                        </td>
                                                        <td style='width: 170px;'>
                                                        
                                                        <img class='VeCTA' src='{{defaulvalues.contactTheme}}_16.gif' style='display: block; border-width: 0px; border-style: solid;' height='40' width='170'>
                                                        </a>
                                                        </td>
                                                        <td class='VeHide' style='width: 30px;'>
                                                        &nbsp;
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class='VeSpace2' style='font-size: 20px; line-height: 20px;'>
                                            &nbsp;
                                            </td>
                                        </tr>
                                        
                                       
                                            <td>
                                            <table style='border-collapse: collapse; width: 100%;' cellpadding='0' cellspacing='0' align='center' border='0'>
                                                
                                                    <tbody><tr>
                                                        <td class='VeHide'>
                                                        
                                                        <img style='display: block; border-width: 0px;' src='{{defaulvalues.contactTheme}}_19.gif' height='119' width='100'></a>
                                                        </td>
                                                        <td align='center'>
                                                        
                                                        <img class='VeImages' style='display: block; border-width: 0px;' width='400' height='119' src='{{defaulvalues.contactTheme}}_20.gif'>
                                                        </a>
                                                        </td>
                                                        <td class='VeHide'>
                                                        
                                                        <img style='display: block; border-width: 0px;' src='{{defaulvalues.contactTheme}}_21.gif' height='119' width='100'></a>
                                                        </td>
                                                    </tr>
                                                
                                            </tbody></table>
                                            </td>
                                        </tr>
                                        
                                    
                                </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <table style='width: 100%; border-collapse: collapse; font-family: arial,sans-serif; font-size: 11px; color: #868686; line-height: 18px; text-align: left;' cellpadding='0' cellspacing='0' align='center' border='0'>
                                    
                                        <tbody><tr>
                                            <td style='width: 5%;'>
                                            &nbsp;
                                            </td>
                                            <td style='width: 90%;'>
                                            <br>
                                            <br>
                                             You have received this courtesy email from us today regarding your user experience on the site but have not been entered into any marketing databases. Please accept our apologies and disregard this email if you have already made your purchase. Our system can take up to 30 minutes to update and we may not have registered your purchase within our email system if a different email was used to complete the transaction. If you no longer wish to receive operational emails from us please
                                            <a style='color: #868686;' href='&lt;&lt;BlackListRemove&gt;&gt;'>click here</a>.

                                            <br>
                                            
                                            <br>
                                            </td>
                                            <td style='width: 5%;'>
                                            &nbsp;
                                            </td>
                                        </tr>
                                    
                                </tbody></table>
                                </td>
                            </tr>
                        
                    </tbody></table>
                    </td>
                </tr>
            
        </tbody></table>