<!--@@Navigator-->
<nav class="navbar navbar-default topBarmenu" role="navigation" >
    <div class="navbar-header">
    <a class="navbar-brand">VeOptimizer</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse"
    data-target=".navbar-ex1-collapse">
          <span class="sr-only">Show navigation bar</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
    </div>
     <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="navCntr">
        <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: isActive('/home')}"><a ui-sref="home">home</a></li>
        <li ng-class="{active: isActive('/vecontact')}"><a ui-sref="vecontact">vecontact</a></li>
        <li ng-class="{active: isActive('/veprompt')}"><a ui-sref="veprompt">veprompt</a></li>
        <li ng-class="{active: isActive('/basket')}"><a ui-sref="basket"><span ng-if="numItemBasket>0">({{numItemBasket}})</span> basket</a></li>
        <!-- <li ng-class="{active: isActive('/token')}"><a ui-sref="token">token</a></li> -->
        <li ng-class="{active: isActive('/contactus')}"><a ui-sref="contactus">contactus</a></li>
        <li ng-if="logout"><a ng-click="logout()">logout</a></li>
        </ul>
    </div>

</nav>